html {
  background-color:powderblue;
  display: fles;
  justify-content:senter;
}
h1 {
  background-color:red;
}
p {
  background-color:purple;
}
.text {
 font-family: "Times New Roman", Copperplate, Fantasy;
}

