html {
  background-color:powderblue;
  display: flex;
  text-align:center;
}
h1 {
  background-color:red;
}
p {
  background-color:purple;
}
.text {
 font-family: "Times New Roman", Copperplate, Fantasy;
}

video {
  width:16%;
}

image {
  width:300px;
  display:inline;
}
